* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 44px;
  background-color: #0f0606;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px;
  flex-wrap: nowrap;

  .menu-icon-and-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .logo {
      padding: 0 10px;
      margin: auto;
      p {
        color: #9d0208;
        text-align: center;
      }
    }
  }

  .search-box {
    width: 100%;
    padding: 5px 10px;
    .search-input {
      width: 100%;
      height: 100%;
      background-color: #e3e3e3;
      border: none;
    }
  }
  .sign-in-and-cart {
    display: flex;
    flex-direction: row;
    .sign-in {
      padding: 0 6px;
      margin: auto;
      width: max-content;
      display: flex;
      flex-direction: row;
      justify-content: center;

      p {
        color: #9d0208;
      }
    }
    .cart {
      padding: 0 6px;
      margin: auto;
      width: 120px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      p {
        color: #9d0208;
      }
    }
  }
}
